<head>
    <style>
        a:link {
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        a:active {
            text-decoration: none;
        }
    </style>
</head>

<table class="table table-striped table-bordered">
    <tr>
        <th><strong>#</strong></th>
        <th><strong>Item Name</strong></th>
    </tr>

    <tr *ngFor="let foodItem of foodItems; let i = index">
        <td><a [routerLink]="['/item-details', i+1]"><strong>{{ i + 1 }}</strong></a></td>
        <td><a [routerLink]="['/item-details', i+1]">{{ foodItem.name }}</a></td>
    </tr>

</table>